{% block pages %}
<div id="page-content">
    <form method="POST" action="{{ url_for(role+'.changing_email_route') }}">
        {{ form.hidden_tag() }}
        <h1 class="h3 mb-3 fw-normal">Alterar e-mail</h1>

        <div class="form-floating mb-3">
            {{ form.new_email(size=32, class="form-control", id="new_email", placeholder="Novo e-mail",
            autocomplete="new_email") }}
            <label for="new_email">{{ form.new_email.label }}</label>
        </div>

        <div class="form-floating mb-3">
            {{ form.confirm_email(size=32, class="form-control", id="confirm_email", placeholder="Confirme o novo
            e-mail", autocomplete="confirm_email") }}
            <label for="confirm_email">{{ form.confirm_email.label }}</label>
            {% for error in form.confirm_email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        <button class="w-100 btn btn-lg btn-dark mt-3" type="submit">Alterar</button>
    </form>
</div>
{% endblock %}