{% block pages %}
<div id="page-content">
    <form method="POST" action="{{ url_for(role+'.changing_password_route') }}">
        {{ form.hidden_tag() }}
        <h1 class="h3 mb-3 fw-normal">Alterar senha</h1>
        <div class="form-floating">
            {{ form.current_password(size=32, class="form-control", id="current_password", placeholder="Senha atual",
            autocomplete="current-password") }}
            <label for="current_password">{{ form.current_password.label }}</label>
        </div>

        <div class="form-floating">
            {{ form.new_password(size=32, class="form-control", id="new_password", placeholder="Nova senha",
            autocomplete="new-password") }}
            <label for="new_password">{{ form.new_password.label }}</label>
        </div>

        <div class="form-floating">
            {{ form.confirm_password(size=32, class="form-control", id="confirm_password", placeholder="Confirme a nova
            senha",
            autocomplete="new-password") }}
            <label for="confirm_password">{{ form.confirm_password.label }}</label>
        </div>

        <button class="w-100 btn btn-lg btn-dark mt-3" type="submit">Alterar</button>
    </form>
</div>
{% endblock %}