{% extends "layout.html" %}

{% block title %}
{% if user_role == 'teacher' %}
Ocorrências | Professor(a)
{% elif user_role == 'manager' %}
Ocorrências | Gestor(a)
{% elif user_role == 'student' %}
Ocorrências | Aluno(a)
{% else %}
Usuário
{% endif %}
{% endblock %}

{% block content %}

<div class="container__occurrence">
    <h1 class="container__occurrence__title">Ocorrências</h1>
    <div class="filter-menu">
        <button id="toggleFilterBtn" class="btn btn-link" onclick="toggleFilters()">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" color="black" fill="currentColor"
                class="bi bi-filter" viewBox="0 0 16 16">
                <path
                    d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5" />
            </svg>
        </button>

        <div id="filterMenu" class="hidden">
            {% if user_role == 'teacher' %}
            <div class="filter-group">
                <label for="searchInput">Pesquisar por aluno, assunto ou tipo</label>
                <input class="searchInput form-control" type="text" id="searchInput" placeholder="Pesquisar"
                    onkeyup="fetchOccurrences()">
            </div>
            {% elif user_role == 'student' %}
            <div class="filter-group">
                <label for="searchInput">Pesquisar professor, assunto ou tipo</label>
                <input class="searchInput form-control" type="text" id="searchInput" placeholder="Pesquisar"
                    onkeyup="fetchOccurrences()">
            </div>
            {% else %}
            <div class="filter-group">
                <label for="searchInput">Pesquisar por aluno, professor, assunto ou tipo</label>
                <input class="searchInput form-control" type="text" id="searchInput" placeholder="Pesquisar"
                    onkeyup="fetchOccurrences()">
            </div>
            {% endif %}
            <div class="filter-group">
                <label for="start_date">Data Inicial</label>
                <input class="start_date form-control" type="date" id="start_date" onchange="fetchOccurrences()">
            </div>

            <div class="filter-group">
                <label for="end_date">Data Final</label>
                <input class="end_date form-control" type="date" id="end_date" onchange="fetchOccurrences()">
            </div>

            <div class="filter-group">
                <label for="filterStatus">Status</label>
                <select class="filterStatus form-control" id="filterStatus" onchange="fetchOccurrences()">
                    <option value="all">Todas as Ocorrências</option>
                    <option value="pending">Ocorrências Pendentes</option>
                </select>
            </div>
            <button id="clear_filter_btn" class="btn btn-dark filter" onclick="clearFilters()">Limpar</button>
            <button id="filter_btn" class="btn btn-dark filter" onclick="toggleFilters()">Filtrar</button>
        </div>
    </div>


    <div class="card-deck">
        <!-- Cards são preenchidos pela função JS -->
    </div>

    <div id="pagination">
        <button onclick="prevPage()">Anterior</button>
        <span id="pageInfo"></span>
        <button onclick="nextPage()">Próxima</button>
    </div>

    <!-- Modal Genérico para Descrição e Solução -->
    <div id="contentModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('contentModal')">&times;</span>
            <h2 id="modalContentTitle"></h2>
            <div id="modalContentView">
                <p id="modalContentText"></p>
                <button id="editButton" class="btn btn-dark" onclick="editContent('contentModal')">Editar</button>
                <button class="btn btn-dark" onclick="closeModal('contentModal')">Fechar</button>
            </div>
            <div id="modalContentEdit" style="display:none;">
                <textarea id="modalContentTextarea" rows="4" cols="50"></textarea>
                <button class="btn btn-dark" onclick="saveContent('contentModal', '{{ csrf_token() }}')">Salvar</button>
                <button class="btn btn-dark" onclick="cancelEdit('contentModal')">Cancelar</button>
            </div>
        </div>
    </div>

    <script>
        let currentPage = 1;
        let currentOccurrenceId = null;
        let currentContentType = null;
        const userRole = '{{ user_role }}';  // Role do usuário passada para o JavaScript

        document.addEventListener('DOMContentLoaded', fetchOccurrences);

        function fetchOccurrences() {
            const query = document.getElementById('searchInput').value;
            const startDate = document.getElementById('start_date').value;
            const endDate = document.getElementById('end_date').value;
            const status = document.getElementById('filterStatus').value;

            let url = `/${userRole}/manager_occurrence/search?query=${query}&start_date=${startDate}&end_date=${endDate}&page=${currentPage}`;

            if (status !== 'all') {
                url += `&status=${status}`;
            }

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    const cardDeck = document.querySelector('.card-deck');
                    cardDeck.innerHTML = data.occurrences.map(occurrence => {
                        const statusClass = occurrence.status === 'pendente' ? 'status-pending' : 'status-resolved';
                        return `
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Estudante(s): ${occurrence.students.join(', ')}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Relator(a): ${occurrence.teacher}</h6>
                                <p class="card-text">Data: ${occurrence.date}</p>
                                <p class="card-text">Descrição: ${occurrence.description.substring(0, 50)}${occurrence.description.length > 50 ? '...' : ''}</p>
                                <p class="card-text">Tipo: ${occurrence.classification}</p>
                                <p class="card-text">Turma: ${occurrence.classe}</p>
                                <p class="card-text">Disciplina: ${occurrence.subject}</p>
                                <p class="card-text">Status: <span class="${statusClass}"></span></p>
                                <div class="btn-group">
                                    <button class="btn btn-primary" onclick="viewContent('description', '${occurrence.id}', '${occurrence.description}')">Descrição completa</button>
                                    <button class="btn btn-success" onclick="viewContent('solution', '${occurrence.id}', '${occurrence.solution}')">Solução</button>
                                    {% if user_role != 'student' %}
                                    <button class="btn btn-delete" data-id="${occurrence.id}" onclick="confirmDelete('${occurrence.id}', '{{ csrf_token() }}')">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                        </svg>
                                    </button>
                                    <button class="btn btn-info" onclick="generatePDF('${occurrence.id}', '{{ csrf_token() }}')">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
                                            <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"/>
                                            <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1"/>
                                        </svg>
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>`;
                    }).join('');

                    document.getElementById('pageInfo').innerText = `Página ${data.current_page} de ${data.total_pages}`;
                });
        }
        
        // Função para gerar PDF
        function generatePDF(occurrence_id, csrf) {
            let url = `/${userRole}/api/generate_pdf`
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-TOKEN': csrf
                },
                body: JSON.stringify({ occurrence_id: occurrence_id })
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok ' + response.statusText);
                    }
                    return response.blob();
                })
                .then(blob => {
                    // Criar uma URL para o blob
                    const url = URL.createObjectURL(blob);
                    // Abrir o PDF em uma nova aba
                    window.open(url, '_blank');
                })
                .catch(error => {
                    console.error('Erro ao gerar o PDF:', error);
                    alert('Erro ao gerar o PDF.');
                });
        }

        function viewContent(type, id, content) {
            currentOccurrenceId = id;
            currentContentType = type;
            if (type === 'description') {
                type = 'Descrição';
            } else if (type === 'solution') {
                type = 'Solução';
            } else {
                type = type;
            }
            document.getElementById('modalContentText').innerText = content;
            document.getElementById('modalContentTextarea').value = content;
            document.getElementById('modalContentTitle').innerText = `${type.charAt(0).toUpperCase() + type.slice(1)} da Ocorrência`;
            document.getElementById('modalContentView').style.display = 'block';
            document.getElementById('modalContentEdit').style.display = 'none';
            document.getElementById('contentModal').style.display = 'block';

            const editButton = document.getElementById('editButton');
            if (userRole === 'manager' || (userRole === 'teacher' && type === 'Descrição')) {
                editButton.style.display = 'inline-block';
            }
            else {
                editButton.style.display = 'none';
            }
        }

        const sessionData = {{ session | tojson if session else '{}'
        }};

        // Função para atualizar ocorrências pendentes.
        // Ela esta redundante em layout.html
        // É importante ela estar nos dois arquivos.
        function loadPendingOccurrencesCount() {
            $.ajax({
                url: "{{ url_for('manager.pending_occurrences_count') }}",
                type: 'GET',
                success: function (response) {
                    var pendingCount = response.pending_count;
                    $('#pending-count').text(pendingCount);
                },
                error: function (error) {
                    console.log('Erro ao carregar o número de ocorrências pendentes:', error);
                }
            });
        }


        function closeModal(modalId) {
            document.getElementById(modalId).style.display = 'none';
        }

        function editContent(modalId) {
            document.getElementById('modalContentView').style.display = 'none';
            document.getElementById('modalContentEdit').style.display = 'block';
        }

        function cancelEdit(modalId) {
            document.getElementById('modalContentView').style.display = 'block';
            document.getElementById('modalContentEdit').style.display = 'none';
        }

        function saveContent(modalId, csrf) {
            const newContent = document.getElementById('modalContentTextarea').value;
            const endpoint = `/${userRole}/manager_occurrence/update/${currentContentType}/${currentOccurrenceId}`;

            fetch(endpoint, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-TOKEN': csrf
                },
                body: JSON.stringify({ [currentContentType]: newContent })
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.success) {
                        closeModal(modalId);
                        fetchOccurrences();
                        loadPendingOccurrencesCount();
                    } else {
                        alert(`Erro ao salvar a ${currentContentType}`);
                    }
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
        }

        function confirmDelete(id, csrf) {
            if (confirm("Tem certeza que deseja excluir esta ocorrência?")) {
                deleteOccurrence(id, csrf);
            }
        }

        function deleteOccurrence(id, csrf) {
            fetch(`/${userRole}/manager_occurrence/delete/${id}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-TOKEN': csrf
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) fetchOccurrences();
                    loadPendingOccurrencesCount();
                });
        }

        function prevPage() {
            if (currentPage > 1) {
                currentPage--;
                fetchOccurrences();
            }
        }

        function nextPage() {
            currentPage++;
            fetchOccurrences();
        }

        function clearFilters() {
            document.getElementById('searchInput').value = '';
            document.getElementById('start_date').value = '';
            document.getElementById('end_date').value = '';
            document.getElementById('filterStatus').value = 'all';
            fetchOccurrences();
        }
    </script>

    <script>
        // Exemplo de efeito com jQuery
        $(document).ready(function () {
            $('#clear_filter_btn').on('mousedown', function () {
                $(this).css('transform', 'scale(0.95)'); // Reduz o tamanho do botão temporariamente
            });

            $('#clear_filter_btn').on('mouseup', function () {
                $(this).css('transform', 'scale(1)'); // Retorna ao tamanho original após soltar o clique
            });
        });
    </script>

    <script>
        function toggleFilters() {
            var filterMenu = document.getElementById('filterMenu');
            var toggleBtn = document.getElementById('toggleFilterBtn');
            var icon = toggleBtn.querySelector('svg.bi-filter');

            if (filterMenu.classList.contains('hidden')) {
                filterMenu.classList.remove('hidden');
                icon.setAttribute('class', 'bi bi-filter rotate-up'); // adiciona classe para girar o ícone para cima
            } else {
                filterMenu.classList.add('hidden');
                icon.setAttribute('class', 'bi bi-filter'); // restaura a classe padrão do ícone
            }
        }
    </script>

    <script src="{{ url_for('static', filename='js/select2.js') }}"></script>
    {% endblock %}