{% extends "layout.html" %}
{% block title %}
{% if user_role == 'teacher' %}
Ocorrências | Professor
{% elif user_role == 'manager' %}
Ocorrências | Gestor
{% elif user_role == 'student' %}
Ocorrências | Aluno
{% else %}
Usuário
{% endif %}
{% endblock %}

{% block content %}

<div class="container">
    <h1>Quadro de Ocorrências</h1>
    {% if user_role == 'manager' %}
    <input type="text" id="searchInput" placeholder="Pesquisar por aluno, professor, assunto ou tipo"
        onkeyup="fetchOccurrences()">
    {% elif user_role == 'teacher' %}
    <input type="text" id="searchInput" placeholder="Pesquisar por aluno, assunto ou tipo" onkeyup="fetchOccurrences()">
    {% else %}
    <input type="text" id="searchInput" placeholder="Pesquisar por professor, assunto ou tipo"
        onkeyup="fetchOccurrences()">
    {% endif %}
    <input type="date" id="start_date" onchange="fetchOccurrences()">
    <input type="date" id="end_date" onchange="fetchOccurrences()">
    <select id="filterStatus" onchange="fetchOccurrences()">
        <option value="all">Todas as Ocorrências</option>
        <option value="pending">Ocorrências Pendentes</option>
    </select>
    <button onclick="clearFilters()">Limpar Filtro</button>

    <table id="ocorrenciasTable">
        <thead>
            <tr>
                <th>Nome do Aluno</th>
                <th>Nome do Professor</th>
                <th>Data da Ocorrência</th>
                <th>Tipo</th>
                <th>Status</th>
                <th>Descrição</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <!-- O conteúdo é preenchido pela função JS -->
        </tbody>
    </table>

    <div id="pagination">
        <button onclick="prevPage()">Anterior</button>
        <span id="pageInfo"></span>
        <button onclick="nextPage()">Próxima</button>
    </div>
</div>

<!-- Modal Genérico para Descrição e Solução -->
<div id="contentModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('contentModal')">&times;</span>
        <h2 id="modalContentTitle"></h2>
        <div id="modalContentView">
            <p id="modalContentText"></p>
            <button id="editButton" onclick="editContent('contentModal')">Editar</button>
            <button onclick="closeModal('contentModal')">Fechar</button>
        </div>
        <div id="modalContentEdit" style="display:none;">
            <textarea id="modalContentTextarea" rows="4" cols="50"></textarea>
            <button onclick="saveContent('contentModal', '{{ csrf_token() }}')">Salvar</button>
            <button onclick="cancelEdit('contentModal')">Cancelar</button>
        </div>
    </div>
</div>

<script>
    let currentPage = 1;
    let currentOccurrenceId = null;
    let currentContentType = null;
    const userRole = '{{ user_role }}';  // Role do usuário passada para o JavaScript

    document.addEventListener('DOMContentLoaded', fetchOccurrences);

    function fetchOccurrences() {
        const query = document.getElementById('searchInput').value;
        const startDate = document.getElementById('start_date').value;
        const endDate = document.getElementById('end_date').value;
        const status = document.getElementById('filterStatus').value;


        let url = `/${userRole}/manager_occurrence/search?query=${query}&start_date=${startDate}&end_date=${endDate}&page=${currentPage}`;

        if (status !== 'all') {
            url += `&status=${status}`;
        }

        fetch(url)
            .then(response => response.json())
            .then(data => {
                const tableBody = document.querySelector('#ocorrenciasTable tbody');
                tableBody.innerHTML = data.occurrences.map(occurrence => {
                    const statusClass = occurrence.status === 'pendente' ? 'status-pending' : 'status-resolved';
                    return `
                        <tr>
                            <td>${occurrence.student}</td>
                            <td>${occurrence.teacher}</td>
                            <td>${occurrence.date}</td>
                            <td>${occurrence.classification}</td>
                            <td><span class="${statusClass}"></span></td>
                            <td>${occurrence.description.substring(0, 30)}${occurrence.description.length > 30 ? '...' : ''}</td>
                            <td>
                                <button onclick="viewContent('description', '${occurrence.id}', '${occurrence.description}')">Descrição completa</button>
                                <button onclick="viewContent('solution', '${occurrence.id}', '${occurrence.solution}')">Solução</button>
                                {% if user_role != 'student' %}
                                <button data-id="${occurrence.id}" onclick="confirmDelete('${occurrence.id}', '{{ csrf_token() }}')">Excluir</button>
                                {% endif %}
                            </td>
                        </tr>`;
                }).join('');

                document.getElementById('pageInfo').innerText = `Página ${data.current_page} de ${data.total_pages}`;
            });
    }

    function viewContent(type, id, content) {
        currentOccurrenceId = id;
        currentContentType = type;
        if (type === 'description') {
            type = 'Descrição';
        } else if (type === 'solution') {
            type = 'Solução';
        } else {
            type = type;
        }
        document.getElementById('modalContentText').innerText = content;
        document.getElementById('modalContentTextarea').value = content;
        document.getElementById('modalContentTitle').innerText = `${type.charAt(0).toUpperCase() + type.slice(1)} da Ocorrência`;
        document.getElementById('modalContentView').style.display = 'block';
        document.getElementById('modalContentEdit').style.display = 'none';
        document.getElementById('contentModal').style.display = 'block';

        const editButton = document.getElementById('editButton');
        if (userRole === 'manager' || (userRole === 'teacher' && type === 'Descrição')) {
            editButton.style.display = 'inline-block';
        }
        else {
            editButton.style.display = 'none';
        }
    }

    function closeModal(modalId) {
        document.getElementById(modalId).style.display = 'none';
    }

    function editContent(modalId) {
        document.getElementById('modalContentView').style.display = 'none';
        document.getElementById('modalContentEdit').style.display = 'block';
    }

    function cancelEdit(modalId) {
        document.getElementById('modalContentView').style.display = 'block';
        document.getElementById('modalContentEdit').style.display = 'none';
    }

    function saveContent(modalId, csrf) {
        const newContent = document.getElementById('modalContentTextarea').value;
        const endpoint = `/${userRole}/manager_occurrence/update/${currentContentType}/${currentOccurrenceId}`;

        fetch(endpoint, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRF-TOKEN': csrf
            },
            body: JSON.stringify({ [currentContentType]: newContent })
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if (data.success) {
                    closeModal(modalId);
                    fetchOccurrences();
                } else {
                    alert(`Erro ao salvar a ${currentContentType}`);
                }
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
    }

    function confirmDelete(id, csrf) {
        if (confirm("Tem certeza que deseja excluir esta ocorrência?")) {
            deleteOccurrence(id, csrf);
        }
    }

    function deleteOccurrence(id, csrf) {
        fetch(`/${userRole}/manager_occurrence/delete/${id}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRF-TOKEN': csrf
            }
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) fetchOccurrences();
            });
    }

    function prevPage() {
        if (currentPage > 1) {
            currentPage--;
            fetchOccurrences();
        }
    }

    function nextPage() {
        currentPage++;
        fetchOccurrences();
    }

    function clearFilters() {
        document.getElementById('searchInput').value = '';
        document.getElementById('start_date').value = '';
        document.getElementById('end_date').value = '';
        document.getElementById('filterStatus').value = 'all';
        fetchOccurrences();
    }
</script>

<style>
    /* Estilos para o modal */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
        padding-top: 60px;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    /* Estilos para os status */
    .status-pending::before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: red;
        border-radius: 50%;
    }

    .status-resolved::before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: green;
        border-radius: 50%;
    }
</style>

{% endblock %}