{% extends 'layout.html' %}
{% block title %}Resetar senha{% endblock %}
{% block content %}
<main class="form-signin">
    <form method="POST">
        {{ form.hidden_tag() }}

        <h1 class="h3 mb-3 fw-normal text-center">Solicitar Redefinição de Senha</h1>

        <div class="form-floating">
            {{ form.email(size=32, class="form-control", id="email", placeholder="E-mail",
            autocomplete="email") }}
            <label for="email">{{ form.email.label }}</label>
        </div>

        <button class="w-100 btn btn-lg btn-dark mt-3" type="submit">Enviar</button>
    </form>
</main>
{% endblock %}