{% extends 'layout.html' %}
{% block title %}Resetar senha{% endblock %}
{% block content %}
<main class="form-signin">
    <form method="POST">
        {{ form.hidden_tag() }}

        <h1 class="h3 mb-3 fw-normal text-center">Redefinir Senha</h1>

        <div class="form-floating">
            {{ form.password(size=32, class="form-control", id="password", placeholder="Nova Senha",
            autocomplete="new-password") }}
            <label for="password">{{ form.password.label }}</label>
        </div>

        <div class="form-floating">
            {{ form.confirm_password(size=32, class="form-control", id="confirm_password", placeholder="Confirme a Nova
            Senha",
            autocomplete="new-password") }}
            <label for="confirm_password">{{ form.confirm_password.label }}</label>
        </div>

        <button class="w-100 btn btn-lg btn-dark mt-3" type="submit">Redefinir Senha</button>
    </form>
</main>
{% endblock %}