{% extends "layout.html" %}

{% block title %}Gestão{% endblock %}

{% block content %}
<h1>Bem-vindo(a) à Gestão {{ username }} </h1>
<ul>
    <li><a href="{{ url_for('manager.register_subject') }}">Cadastrar disciplina</a></li>
    <li><a href="{{ url_for('manager.register_class') }}">Cadastrar turma</a></li>
    <li><a href="{{ url_for('manager.register_teacher') }}">Cadastrar professor</a></li>
    <li><a href="{{ url_for('manager.register_student') }}">Cadastrar estudante</a></li>
    <li><a href="{{ url_for('manager.register_occurrence') }}">Registrar ocorrência</a></li>
    <li><a href="{{ url_for('manager.manager_occurrence_route') }}">Gerir ocorrências</a></li>
</ul>
<!-- Conteúdo específico para a página de gestão -->
{% endblock %}