{% extends "layout.html" %}

{% block title %}Cadastro de Disciplina{% endblock %}

{% block content %}
<h2>Cadastro de Disciplina</h2>
<form method="POST" action="{{ url_for('manager.register_subject') }}">
    {{ form.hidden_tag() }}
    <div>
        {{ form.subject.label }}<br>
        {{ form.subject() }}<br>
        {% for error in form.subject.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>

{% endblock %}