<div id="page-content">
    <!-- Conteúdo específico da turma -->
    <h2 class="students_list_title">Turma - {{ classe.classe }} de {{ classe.year }} </h2>
    <table class="table">
        <thead>
            <tr>
                <th class="text-start">Nome</th>
                <th class="text-end">Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td class="text-start">{{ student.username }}</td>
                <td class="text-end">
                    <a href="#"
                       data-bs-toggle="modal" 
                       data-bs-target="#exampleModal" 
                       data-student-id="{{ student._id }}" 
                       data-student-name="{{ student.username }}" 
                       data-student-email="{{ student.email }}"
                       data-student-class="{{ student.classe }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-pen" viewBox="0 0 16 16">
                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a.5.5 0 0 1-.059.702l-9.642 9.642a.5.5 0 0 1-.232.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 1 .702-.059l.148-.149a1.207 1.207 0 1 1 1.708 1.707l-.149.149a1.5 1.5 0 0 1-2.118.057L9.442 1.15a.5.5 0 1 1-.702.707l2.736 2.736a1.5 1.5 0 0 1 .057-2.118z"/>
                        </svg>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
