{% extends "layout.html" %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<div class="home">
    <div class="home_text">
        <img src="{{ url_for('static', filename='img/cloud.jpeg') }}" alt="" style="width: 40%; height: auto;">
        <h1>School Warden</h1>
        <p>Transforme a gestão disciplinar da sua escola</p>
    </div>
    <div>
        <img class="home_img" src="{{ url_for('static', filename='img/school_manager.jpeg') }}" alt="">
    </div>

</div>

{% endblock %}