{% extends 'layout.html' %}
{% block content %}
<main class="form-signin">
    <form method="POST" action="{{ url_for('login') }}" class="needs-validation" novalidate>
        {{ form.hidden_tag() }}

        <h1 class="h3 mb-3 fw-normal text-center">Login</h1>

        <div class="form-floating">
            {{ form.email(size=32, class="form-control", id="email", placeholder="E-mail",
            autocomplete="email") }}
            <label for="email">{{ form.email.label }}</label>
        </div>

        <div class="form-floating">
            {{ form.password(size=32, class="form-control", id="password", placeholder="Password",
            autocomplete="current-password") }}
            <label for="password">{{ form.password.label }}</label>
        </div>
        <a href="{{url_for('reset_password_request')}}">Esqueceu a senha ?</a>
        <button class="w-100 btn btn-lg btn-dark mt-3" type="submit">Entrar</button>
    </form>
</main>




{% endblock %}