{% macro render_greeting(role, username) %}
{% if role == 'teacher' %}
<h1>Bem-vindo(a) professor(a) {{ username }}</h1>
{% elif role == 'manager' %}
<h1>Bem-vindo(a) gestor(a) {{ username }}</h1>
{% elif role == 'admin' %}
<h1>Bem-vindo(a) Admin {{ username }}</h1>
{% else %}
<h1>Bem-vindo(a) aluno(a) {{ username }}</h1>
{% endif %}
{% endmacro %}


{% macro render_links(role, register_endpoint, manager_endpoint) %}
<div class="vertical-menu">
    {% if role == 'manager' %}
    <a href="{{ url_for('manager.register_subject') }}" class="btn btn-dark btn-block mb-2">Cadastrar disciplina</a>
    <a href="{{ url_for('manager.register_class') }}" class="btn btn-dark btn-block mb-2">Cadastrar turma</a>
    <a href="{{ url_for('manager.register_teacher') }}" class="btn btn-dark btn-block mb-2">Cadastrar professor</a>
    <a href="{{ url_for('manager.register_student') }}" class="btn btn-dark btn-block mb-2">Cadastrar estudante</a>
    <a href="{{ url_for(register_endpoint) }}" class="btn btn-dark btn-block mb-2">Registrar ocorrência</a>
    <a href="{{ url_for(manager_endpoint) }}" class="btn btn-dark btn-block mb-2">Gerir ocorrências</a>
    {% elif role == 'teacher' %}
    <a href="{{ url_for(register_endpoint) }}" class="btn btn-dark btn-block mb-2">Registrar ocorrência</a>
    <a href="{{ url_for(manager_endpoint) }}" class="btn btn-dark btn-block mb-2">Gerir ocorrências</a>
    {% elif role == 'student' %}
    <a href="{{ url_for(manager_endpoint) }}" class="btn btn-dark btn-block mb-2">Minhas ocorrências</a>
    {% else %}
    <a href="{{ url_for('admin.register_manager') }}" class="btn btn-dark btn-block mb-2">Cadastrar Gestor</a>
    {% endif %}
</div>

{% endmacro %}