{% macro render_greeting(role, username) %}
{% if role == 'teacher' %}
<h1>Bem-vindo(a) professor(a) {{ username }}</h1>
{% elif role == 'manager' %}
<h1>Bem-vindo(a) gestor(a) {{ username }}</h1>
{% elif role == 'admin' %}
<h1>Bem-vindo(a) Admin {{ username }}</h1>
{% else %}
<h1>Bem-vindo(a) aluno(a) {{ username }}</h1>
{% endif %}
{% endmacro %}


{% macro render_links(role, register_endpoint, manager_endpoint) %}
<div class="vertical-menu">
    {% if role == 'manager' %}
    <div class="card-deck">
        <div class="card mb-3">
            <img src="{{ url_for('static', filename='img/manage_occurrences.svg') }}" class="card-img-top"
                alt="Gerir Ocorrências" style="width: 60px; height: 60px;">
            <div class="card-body">
                <h5 class="card-title">Gerir Ocorrências</h5>
                <a href="{{ url_for(manager_endpoint) }}" class="btn btn-dark btn-block">Ir</a>
            </div>
        </div>
        <div class="card mb-3">
            <img src="{{ url_for('static', filename='img/write_occurrence.svg') }}" class="card-img-top"
                alt="Registrar Ocorrência" style="width: 60px; height: 60px;">
            <div class="card-body">
                <h5 class="card-title">Registrar Ocorrência</h5>
                <a href="{{ url_for(register_endpoint) }}" class="btn btn-dark btn-block">Ir</a>
            </div>
        </div>
        <div class="card mb-3">
            <img src="{{ url_for('static', filename='img/graphs.svg') }}" class="card-img-top"
                alt="Relatórios" style="width: 60px; height: 60px;">
            <div class="card-body">
                <h5 class="card-title">Relatórios</h5>
                <a href="{{ url_for('manager.dashboard_page') }}" class="btn btn-dark btn-block">Ir</a>
            </div>
        </div>
        <div class="card mb-3">
            <img src="{{ url_for('static', filename='img/subjects.svg') }}" class="card-img-top"
                alt="Cadastrar Disciplina" style="width: 50px; height: 50px;">
            <div class="card-body">
                <h5 class="card-title">Cadastrar Disciplina</h5>
                <a href="{{ url_for('manager.register_subject') }}" class="btn btn-dark btn-block">Ir</a>
            </div>
        </div>
        <div class="card mb-3">
            <img src="{{ url_for('static', filename='img/classes.svg') }}" class="card-img-top" alt="Cadastrar Turma"
                style="width: 50px; height: 50px;">
            <div class=" card-body">
                <h5 class="card-title">Cadastrar Turma</h5>
                <a href="{{ url_for('manager.register_class') }}" class="btn btn-dark btn-block">Ir</a>
            </div>
        </div>
        <div class="card mb-3">
            <img src="{{ url_for('static', filename='img/teachers.svg') }}" class="card-img-top"
                alt="Cadastrar Professor" style="width: 50px; height: 50px;">
            <div class="card-body">
                <h5 class="card-title">Cadastrar Professor</h5>
                <a href="{{ url_for('manager.register_teacher') }}" class="btn btn-dark btn-block">Ir</a>
            </div>
        </div>
        <div class="card mb-3">
            <img src="{{ url_for('static', filename='img/students.svg') }}" class="card-img-top"
                alt="Cadastrar Estudante" style="width: 60px; height: 60px;">
            <div class="card-body">
                <h5 class="card-title">Cadastrar Estudante</h5>
                <a href="{{ url_for('manager.register_student') }}" class="btn btn-dark btn-block">Ir</a>
            </div>
        </div>
    </div>

    {% elif role == 'teacher' %}
    <div class="card mb-3">
        <img src="{{ url_for('static', filename='img/write_occurrence.svg') }}" class="card-img-top"
            alt="Registrar Ocorrência" style="width: 60px; height: 60px;">
        <div class="card-body">
            <h5 class="card-title">Registrar Ocorrência</h5>
            <a href="{{ url_for(register_endpoint) }}" class="btn btn-dark btn-block">Ir</a>
        </div>
    </div>
    <div class="card mb-3">
        <img src="{{ url_for('static', filename='img/manage_occurrences.svg') }}" class="card-img-top"
            alt="Gerir Ocorrências" style="width: 60px; height: 60px;">
        <div class="card-body">
            <h5 class="card-title">Gerir Ocorrências</h5>
            <a href="{{ url_for(manager_endpoint) }}" class="btn btn-dark btn-block">Ir</a>
        </div>
    </div>
    {% elif role == 'student' %}
    <div class="card mb-3">
        <img src="{{ url_for('static', filename='img/manage_occurrences.svg') }}" class="card-img-top"
            alt="Gerir Ocorrências" style="width: 60px; height: 60px;">
        <div class="card-body">
            <h5 class="card-title">Minhas Ocorrências</h5>
            <a href="{{ url_for(manager_endpoint) }}" class="btn btn-dark btn-block">Ir</a>
        </div>
    </div>
    {% else %}
    <div class="card mb-3">
        <img src="{{ url_for('static', filename='img/managers.svg') }}" class="card-img-top" alt="Cadastrar Gestor"
            style="width: 60px; height: 60px;">
        <div class="card-body d-flex flex-column justify-content-center">
            <h5 class="card-title">Cadastrar Gestor</h5>
            <a href="{{ url_for('admin.register_manager') }}" class="btn btn-dark btn-block mt-auto">Ir</a>
        </div>
    </div>
    {% endif %}
</div>

{% endmacro %}